@use "./style/mixins";
@use "./style/bar";
@use "./style/notification";
@use "./style/launcher";

* {
  @include mixins.reset-props;
}

scrolledwindow scrollbar {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

scrolledwindow scrollbar trough {
  /* Scrollbar track/background */
  background: transparent;
  min-width: 4px;
}

scrolledwindow scrollbar slider {
  /* Scrollbar thumb/handle */
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  min-width: 4px;
  min-height: 12px;
}
