@use "./mixins";
@use "./colors";

.bar {
  color: colors.$fg-color;
  padding: 4px 8px 0px;

  font-size: 12px;
  font-weight: 600;

  .section {
    background: colors.$bg-transparent;
    border-radius: 2rem;
    padding: 6px;
  }
}

.workspaces {
  padding: 4px;

  button {
    margin: 4px;
    min-width: 8px;
    min-height: 8px;

    background-color: rgba(colors.$text, 0.3);
    border-radius: 2rem;

    &.populated {
      background: colors.$lavender;
    }

    &:hover {
      background: colors.$sapphire;
    }

    &.focused {
      background: colors.$blue;
      min-width: 36px;
    }
  }
}


.center {
  .time {
    button {
      padding: 0px 8px;
      border-radius: 2rem;

      &:hover {
        background: rgba(colors.$bg-accent, 0.2);
      }
    }

    .toggled {
      background: rgba(colors.$bg-accent, 0.3);
    }
  }

  .player-container {
    background: rgba(colors.$bg-accent, 0.2);
    border-radius: 2rem;

    .player {
      padding: 2px 10px;
    }

    &:hover {
      background: rgba(colors.$bg-accent, 0.1);
    }

    .toggled {
      background: rgba(colors.$bg-accent, 0.2);
    }


    .separator {
      min-width: 1px;
      min-height: 10px;
      background: rgba(colors.$text, 0.4);
    }
  }
}

.end {
  .Tray {
    margin-left: 2px;

    popover.background.menu {

      arrow {
        background-color: colors.$bg-color;
      }

      contents {
        background-color: colors.$bg-color;
        border-radius: 1rem;
        padding: 12px;

        label {
          padding: 4px;
          color: colors.$fg-color;
          border-radius: 0.5rem;

          &:hover {
            color: colors.$blue;
            background-color: rgba(colors.$blue, 0.1);
          }
        }
      }
    }


  }

  .status {
    padding-right: 6px;
    padding-left: 2px;
    border-radius: 2rem;

    &:hover {
      background: rgba(colors.$bg-accent, 0.2);
    }
  }

  .toggled {
    background: rgba(colors.$bg-accent, 0.3);
  }
}
