@use "./mixins";
@use "./colors";

.bar {
  color: colors.$fg-color;
  padding: 4px 8px 0px;

  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;

  button {
    outline: none;
    padding: 0px;
  }

  .section {
    background: colors.$bg-transparent;
    border-radius: 2rem;
    padding: 6px;

    button {
      background: transparent;

      :hover {
        color: colors.$lavender;
      }
    }
  }

  .workspaces {
    padding: 0px 6px;

    button {
      margin: 4px 3px;
      min-width: 8px;
      min-height: 8px;

      background-color: colors.$surface1;
      border-radius: 2rem;

      &.populated {
        background: colors.$lavender;
      }

      &:hover {
        background: colors.$sky;
      }

      &.focused {
        background: colors.$blue;
        min-width: 28px;
      }

    }
  }

  .center {
    padding: 6px 16px;
  }

  .end {
    padding: 6px 10px;
  }

  .status {
    margin: 0px 1px;
  }
}
