@use "sass:color";
@use "./colors.scss";

.center-menu {
  background: rgba(colors.$bg-secondary, 0.65);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  margin: 8px;
  padding: 1rem;

  .title {
    font-size: 16px;
    font-weight: 500;
  }

  .artist {
    font-size: 14px;
  }

  .separator {
    min-width: 1px;
    background: rgba(colors.$text, 0.4);
    margin: 0px 1.1rem;
  }

  .center-progress {
    label {
      font-size: 11px;
    }
  }

  .media-control-menu {
    padding: 1rem;
    padding-top: 0px;

    .player-select {
      .player-item {
        padding: 8px;
        border-radius: 0.5rem;

        &:hover {
          background: colors.$bg-accent
        }
      }

      .players {
        padding: 0.5rem;
        background: colors.$bg-color;
        border-radius: 1rem;
      }
    }

    .art {
      border-radius: 1rem;
    }

    scale {
      min-height: 8px;
      min-width: 100px;
      border-radius: 2rem;

      trough {
        background-color: colors.$bg-accent // Visible background
      }

      /* slider */

      highlight {
        min-height: 8px;
        background-color: rgba(colors.$text, 0.3);
        border-radius: 2rem;
      }
    }
  }

  .controls {
    button {
      padding: 4px;
      background: rgba(colors.$bg-accent, 0.2);
      border-radius: 5px;

      &:hover {
        background: rgba(colors.$bg-accent, 0.4);
      }
    }
  }

  .calender-container {
    .datetime {
      border-radius: 1rem;
      padding-bottom: 8px;

      &:hover {
        background: rgba(colors.$bg-accent, 0.1);
      }
    }

    .time {
      font-size: 3rem;
      font-weight: 900;
    }

    .date {
      font-size: 1rem;
    }

    calendar {
      border-radius: 12px;
      background: colors.$bg-transparent;

      header {
        padding: 8px;
        font-size: 14px;
        background: rgba(colors.$lavender, 0.3);
      }

      button {
        border-radius: 4px;

        &:hover {
          background: rgba(colors.$bg-accent, 0.5);
        }
      }

      grid {
        padding: 4px;

        label {
          border-radius: 4px;

          &:hover {
            background: rgba(colors.$bg-accent, 0.3);
          }

          &:selected {
            background: rgba(colors.$lavender, 0.5);
          }
        }
      }

      margin: 0;
    }
  }
}
