@use './colors';

.control-panel-menu {
  margin: 8px;
  border-radius: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

  padding: 20px;
  background: rgba(colors.$bg-secondary, 0.65);

  .page {
    >.separator {
      min-height: 1px;
      margin: 4px 0px;
      background: rgba(colors.$text, 0.3);
    }

  }

  .sliders {
    .info {
      margin-left: 8px;
    }

    scale {
      padding: 4px 0;

      trough {
        border-radius: 2rem;
        background-color: rgba(colors.$bg-transparent, 0.4);
        min-height: 24px;
      }

      highlight {
        background-color: rgba(colors.$blue, 0.3);
      }

      slider {
        min-width: 5px;
        min-height: 28px;
        background-color: colors.$text;
        border-radius: 2rem;
        margin: -10px 0;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
      }
    }
  }

  .control-panel {
    .panel {
      padding: 10px 16px;
      padding-right: 8px;
      border-radius: 1rem;

      &:hover {
        background: rgba(colors.$bg-accent, 0.4);
      }

      .title {
        font-weight: 600;
      }

      .description {
        font-size: 12px;
      }

      .show-page {
        padding-left: 12.5px;
        padding-right: 10.5px;
        border-radius: 2rem;

        &:hover {
          background: rgba(colors.$bg-color, 0.2);
        }
      }
    }

    .enabled {
      background: rgba(colors.$bg-accent, 0.3);
    }

    .disabled {
      background: rgba(colors.$bg-color, 0.6);
    }
  }

  .footer {
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;

    .battery-info {
      /* border: solid 1px rgba(colors.$text, 0.2); */
      /* background: rgba(colors.$bg-transparent, 0.4); */
      border-radius: 2rem;

      .icon {
        margin-right: 2px;
      }

      .separator {
        background: rgba(colors.$text, 0.2);
        margin: 0px 6px;
        min-width: 1px;
        min-height: 5px;
      }
    }

    .power-menu {
      padding: 4px;
      border-radius: 2rem;
      background: rgba(colors.$bg-transparent, 0.6);

      &:hover {
        background: rgba(colors.$bg-accent, 0.25);
        /* background: rgba(colors.$bg-transparent, 0.6); */
      }
    }
  }

  .notifications {

    .clear-button {
      padding: 6px;
      background: rgba(colors.$bg-accent, 0.3);
      border-radius: 1rem;
      font-size: 12px;

      &:hover {
        background: rgba(colors.$bg-accent, 0.4);
      }
    }
  }

  .network {

    .network-entry {
      padding: 16px;
      font-size: 1.1rem;

      background: rgba(colors.$bg-color, 0.4);
      border-radius: 0.8rem;



      &:hover {
        background: rgba(colors.$bg-color, 0.7);
      }
    }

    .selected {
      background: colors.$bg-color;
    }

    .network-list {
      padding: 0px 8px;
    }
  }

}
