@use "./colors";

.notification {
  color: colors.$fg-color;
  background: colors.$bg-color;
  padding: 12px;

  border-radius: 12px;

  min-width: 200px;

  .notification-header {
    font-weight: 300;
    font-size: 10px
  }

  .separator {
    min-width: 10px;
    min-height: 1px;
    background: rgba(colors.$text, 0.3);
  }

  .summary {
    font-size: 16px;
    font-weight: 700;
  }

  .body {
    font-size: 14px;
    margin-top: 4px;
    font-weight: 400;
  }

  .close-icon {
    margin: 0px 0px 2px;
  }

  .close-button {
    :hover {
      color: colors.$red;
    }
  }

  .notification-image {
    border-radius: 6px;
  }
}
